.responsive-img {
  max-width: 200px;
  height: auto;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.newz {
  line-height: 1;
  text-align: center;
  font: size 1.5rem;
}
