.responsive-img {
  max-height: 200px;
  max-width: 200px;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.newz {
  line-height: 1;
  text-align: center;
  font: size 1.5rem;
  height: 500px;
  margin: 10px;
}

#search-bar {
  opacity: 0.8;
  background: black;
  color: white;
  margin: 10px;
}

#label2 {
  color: #9e9e9e;
}

#scope {
  background: black;
  opacity: 0.8;
  color: white;
  margin: 10px;
}

.dropdown-trigger {
  background-color: black;
  opacity: 0.8;
  color: white;
}

#search-term {
  color: white;
}

.scopeDiv {
  background-color: black;
  color: white;
  opacity: 0.8;
  margin: 10px;
}

#errorDiv {
  background-color: black;
  color: white;
  opacity: 0.8;
}

#run-search {
  background-color: black;
  margin: 10px;
}

.news-card-container {
  position: relative;
}

.news-action {
  position: absolute;
  bottom: 0;
}
